<div id="new_message">
<% form_for(message) do |f| %>
<%= error_messages_for :topic %>
<%= error_messages_for :message %> 
<%= f.hidden_field :messageCreator, :value=>$userName %>
<%= f.hidden_field :messageTopic, :value=> @topic.id %>		
<%= f.hidden_field :messageTime, :value=> Time.now %> <br/>
<%= f.text_area (:messageBody, :cols => 30, :rows=> 5 ) %><br/>  
<%= submit_tag ' add message ', :class=>"add_button" %>
<% end %>
</div>