<h1>New topic</h1>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :topicName %><br />
    <%= f.text_field :topicName %>
  </p>
  <p>
    <%= f.label :topicType %><br />
    <%= f.text_field :topicType %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', topics_path %>