<h1>New topic</h1>


<% form_for(@topic) do |f| %>
  <%= f.error_messages %>
 
	<div>
		<%= f.label :topicName, "Title:" %><br />
		<%= f.text_field :topicName %>
		<%= text_field :message, :messageCreator, :value=>$userName %>		
	</div>
  
  <p>
    <%= f.label :messageBody, "Message:" %>
	
	<%= text_field :message,  :messageTime, :value=> Time.now %> <br/>
	
    <%= text_area :messageBody,  :messageBody %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>



<
<%= link_to 'Back', topics_path %>