				
				<% form_tag  "/main/process_login" do %>
				<%= label_tag :userName, 'User Name: ', :class => "login_label text_shadow" %><br/>
				<%= text_field_tag :loginName %><br/>
				<%= label_tag :userPassword, 'Password: ', :class => "login_label text_shadow" %><br/>
				<%= password_field_tag :loginPassword  %><br/>				
				
				<%=submit_tag "Log In" %>		
				<%= link_to 'New user', new_user_path, :class=>"link text_shadow" %>
				
				<% if flash[:notice] %>
					<div class="error">
						<%= flash[:notice] %>
					</div>
				<% end %>	
				<% end %>