<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :postCreator %><br />
    <%= f.text_field :postCreator %>
  </p>
  <p>
    <%= f.label :postTopic %><br />
    <%= f.text_field :postTopic %>
  </p>
  <p>
    <%= f.label :postTime %><br />
    <%= f.datetime_select :postTime %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>